:root {
  --main-head-color: #1b1b1b;
  --main-head-color-hover: #00427e;
  --main-head-bg: #fff;
  --main-head-submenu-bg: #ececec;
}  
/* Header */
  .site-header {
    position: relative;
    z-index: 9999;
  }
  .header-content {
	float: left;
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
  }
 
  #site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0px 0 auto;
    background-color: var(--main-head-bg);
    border: unset;
  }
  #md-collapse-menu {
    padding: 0;
  }
  #primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
/*     margin: 0; */
    padding: 0;
  }
  #primary-menu > li:not(:first-child){
    margin-left: 31px;
  }
  #primary-menu .menu-item a {
    color:  var(--main-head-color);
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
  }
  #primary-menu li.menu-item-has-children a {
    margin-right: 18px;
  }
  #primary-menu li.menu-item-has-children a {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a:before {
    content: "\203A";
    position: absolute;
    right: -20px;
/*     top: 11.5px; */
    font-size: 24px;
    transform: rotateZ(90deg);
  }
  #primary-menu .menu-item a:hover {
    color: var(--main-head-color-hover);
  }
  #primary-menu li.menu-item-has-children:hover > .sub-menu  {
    visibility: visible;
    opacity: 1;
  }
  .menu-item-has-children .sub-menu {
    position: absolute;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: var(--main-head-submenu-bg);
    border: #ececec solid 1px;
    -webkit-box-shadow: 8px 12px 43px #00000016;
    box-shadow: 8px 12px 43px #00000016;
    list-style: unset;
    padding: 20px 0;
    z-index: 999;
  }
  #primary-menu .menu-item-has-children .sub-menu a {
    display: block;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  #primary-menu .menu-item-has-children .sub-menu li:last-of-type a {
    margin-bottom: 0;
  }
.mobile-estimate{
	display:none;
}
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    #primary-menu .menu-item a {
      font-size: 14px;
    }
    .site-branding img {
      max-width: 180px;
    }
    #site-navigation {
      margin-right: 17px;
    }
    #primary-menu > li:not(:first-child) {
      margin-left: 20px;
    }
	  #primary-menu{
		  margin-right:-18px;
	  }
    }  
   
	@media screen and (min-width: 992px) {
		.menu-item-has-children .sub-menu .sub-menu {
			top: 50px;
			left: 90%;
		}
		.before-header {
			display:none;
		}
	} 
  @media screen and (max-width: 991px) {
    .site-header {
      position: relative;
      -webkit-box-shadow: 8px 12px 21px 0px rgba(0, 1, 1, 0.08);
              box-shadow: 8px 12px 21px 0px rgba(0, 1, 1, 0.08); 
    }
/*     .site-header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 56.77px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#fff));
      background-image: -o-linear-gradient(#ebebeb, #fff);
      background-image: linear-gradient(#ebebeb, #fff);
    } */
    .header-content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      position: relative;
		padding:0;
    }
    .site-branding {
      z-index: 2;
    }
    .site-branding img {
	  padding:10px 0 10px 10px;
    }
    .navbar-header {
      position: absolute;
    top: 23.5px;
    right: 6px;
    }
    #site-navigation .navbar-header button {
      background-color: unset;
      border: unset;
      border-radius: unset;
      margin: 0;
    }
	 .mobile-estimate{
		display:flex;
		font-size: 17px;
		line-height: 21px;
	}
    #site-navigation .navbar-header button:hover, #site-navigation .navbar-header button:focus, #site-navigation .navbar-header button:active {
      background-color: unset;
    }
    .navbar-header button .icon-bar{
      background-color: #215a8c!important;/* i kno...*/
      width: 39px;
      border-radius: unset;
    }
    .navbar-header button .icon-bar:not(:first-child) {
      margin-top: 8px;
    }
    .navbar-toggle {
      display: block;
    }
    #md-collapse-menu {
      width: 100%;
    }
    .md-navigation .collapse {
      display: none!important;
    }
    .md-navigation .collapse.in {
      display: block!important;
    }
    #site-navigation {
      position: static;
      margin: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      min-height: unset;
    }
    #primary-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 20px 0 10px 10px;
    }
    #primary-menu > li.menu-item {
      margin: 0 0 11px 0;
    }
    #primary-menu .menu-item a {
      font-size: 16px;
      padding: 5px 0;
    }
    #primary-menu .menu-chevron {
        position: absolute;
		top: 5px;
		font-size: 35px;
		right: 10px;
		transform: rotate(90deg);
		height: 35px;
		width: 35px;
    }
    #primary-menu .menu-item-has-children {
      position: relative;
    }
    #primary-menu .menu-item-has-children a:before {
      content: unset;
    }
    #primary-menu .menu-item-has-children .sub-menu {
      display: none;
      visibility: visible;
      opacity: 1;
      -webkit-transition: unset;
      -o-transition: unset;
      transition: unset;
      position: static;
      border: unset;
      -webkit-box-shadow: unset;
              box-shadow: unset;
      background-color: #f4f4f4;
      margin-left: 10px;
    }
	  .site-header .container {
		  padding:0;
		  margin:0;
		  width:100%;
	  }
	  .before-header {
		float:left;
		  width:100%;
	  }
	  .before-header a {
		  text-align:center;
		  float:left;
		  width:100%;
    background-color: #FFE829;
    font-weight: bold;
    padding: 15px 40px 15px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #2A2A2A;
	  }
	  .before-header a  img {
		  margin-left:5px;
	  }
	  li#menu-item-133 {
		  display:none;
	  }
  }
  @media screen and (max-width: 400px) {
    .navbar-header {
      top: 14px;
    }
	  .site-branding img {
		width:200px;
	  }
  }

#primary-menu .menu-item a{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: #2A2A2A;
}
#primary-menu .menu-item:not(:last-child){
	text-transform: uppercase;
}

#primary-menu .menu-item a:visited{
	color:gray;
}
#primary-menu .menu-item a:link{
	color:gray;
}
#primary-menu .menu-item a:hover {
    color: black;
}
/* #primary-menu .menu-item a:active{
	color:black;
} */
#primary-menu > #menu-item-133 a, .mobile-estimate {
	background-image: url('/wp-content/uploads/2022/07/read-more-arrow-1.svg');
	background-position: 165px 17px;
	background-repeat: no-repeat;
	background-color: #FFE829;
	font-weight:bold;
	padding: 15px 40px 15px 30px;
	font-weight: 700;
	font-size: 17px;
	line-height: 21px;
	color: #2A2A2A;
	background-position:154px;
}
@media screen and (max-width: 992px) {
	#primary-menu > #menu-item-133 a {
		line-height:40px;
	}
	 .mobile-estimate{
		padding:15px 150px 15px;
		background-position: 276px 17px;
	} 
}
@media screen and (max-width: 576px){
	 .mobile-estimate{
		padding: 13px 104px 15px;
		background-position: 232px 17px;
		position: relative;
		margin: -15px 0px 0px -15px;
	}
	 .hero-left ul li{
		width:101%;
	}
}
@media screen and (max-width: 438px){
	.hero-right{
		top: -140px;
	}
	 .hero-left ul li{
		width:100%;
	}
}
@media screen and (max-width: 434px){
	 .hero-right{
		top: -255px;
		padding: 1px;
	}
	 .hero-left ul li{
		font-size:18px;
	}
	.page-id-187 .hero-right{
		top: -405px;
	}
	#gform_next_button_1_10{
/* 		margin: 0px 0 0 6px; */
/* 		width: 100%;
		height: 56px; */
		background-position: 92%;
	}

}
#primary-menu > #menu-item-133 a:hover{
	background-color: #F0CC0F;
}

/* Header end */
/* before footer */
.before-footer{
	float:left;
/* 	margin-top: -137px; */
	background-color:white;
	width: 58%!important;
	margin-left: 47px;
}
.page-id-123 .before-footer, .page-id-131 .before-footer{
/* 	margin-top:-265px; */
	margin:0;
}
@media screen and (max-width: 991px){
	.page-id-131 .hero-right .hero-form{
		width: 100%;
		height: 380px;
	}
}
@media screen and (max-width: 1199px){
	.page-id-123 .before-footer{
		margin-top:0;
		margin-left: 0;
	}
}
.gform_footer.top_label{
	float:left;
}
@media screen and (max-width: 991px){
	.before-footer{
		width:100%!important;
		margin-left:0!important;
		float:left!important;
	}
}
.page-id-121 .before-footer,.page-id-125 .before-footer,.page-id-187 .before-footer{
	margin-top: -137px;
}
@media screen and (max-width: 1199px){
	.page-id-121 .before-footer,.page-id-125 .before-footer,.page-id-187 .before-footer {
		margin-top: 0px;
		margin-left: 0px !important;
	}
	.page-id-119 .before-footer {
		margin-top: 50px;
		margin-left: 0px !important;
	}
}
.page-id-227 .before-footer, .page-id-187 .before-footer, .page-id-230 .before-footer, .page-id-234 .before-footer{
	margin-left: 0px ;
}
/* before footer end */
/* footer */
.site-footer{
	background:#2A2A2A;
	color:white;
}
.md-footer-copy-right{
	padding: 25px 0;
	text-align:center;
	background:#131313;
}
.footer-right a{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FFE829;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 21px;
	color: #2A2A2A;
	padding: 15px 25px;
	margin-top: 20px;
	position:absolute;
}
.footer-right img{
	margin: 0 0 0 10px;
}
.footer-right a:hover{
	background-color:#F0CC0F;
}
.single-right h3{
	font-weight: 700;
	font-size: 23px;
	line-height: 33px;
	color: #FFFFFF;
} 
.footer-mid p{
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -0.02em;
	color: #D3D3D3;
}
.footer-mid h3{
	font-size:20px;
	margin-bottom:20px;
	margin-top:20px;
}
.footer-in {
	float:left;
	width:100%;
	padding: 50px 0 100px 0;
}
.md-footer-copy-right a{
	color:#FFE829;
}
@media screen and (max-width: 3840px) and (min-width: 1199px) {
	.footer-left{
		margin-top: 18px;
		margin-left: -40px;
	}
	.footer-right{
		margin: 18px 0px 0px 38px;
	}
}
@media screen and (max-width: 1199px){
	.footer-right a{
		margin-top: 5px;
	}
	.footer-mid p{
		font-size: 16px;
		padding-bottom: 15px;
	}
	.footer-mid h3{
		font-size: 20px;
		line-height: 24px;
		padding-top: 15px;
	}
	.footer-right h3{
		margin: 30px 0 25px 0px;
		width: 290px;
	}
}
/* footer end */