main {
  width: 20%;
  margin: auto;
}

input,
button {
  padding: 10px;
  display: inline-block;
}

aside {
  font-size: 120px;
  font-weight: bold;
  font-family: monospace;
  margin-top: 200px;
  list-style: none;
  color: rgb(9, 82, 100);
}
body {
  background-image: url("5120x2880.png");
  background-color: #cccccc;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
